body{
    margin: 0;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100lvh;
    gap: 2rem;
}

section{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
article{
    background-color: rgb(244, 250, 195);
    padding: 1rem;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}